@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Session["Index"] = "0";
    
    var RowMaxColumn = 3;
    var RowMax = 21 / RowMaxColumn;

    Dictionary<int, List<string>> PicDisplay = new Dictionary<int, List<string>>();

    for (int i = 1; i <= RowMax;i++ )
    {
        List<string> RowpicSrc = new List<string>();

        for (int j = i * RowMaxColumn-2; j <= i * RowMaxColumn; j++)
        {
            RowpicSrc.Add("../assets/images/Product/pro" + j.ToString() + ".jpg");
        }
        PicDisplay.Add(i, RowpicSrc);
    } 
}

 <div class="content-block" >
        <div class="container">
            <header class="block-heading cleafix">
                <h1>近期作品展示</h1>
                <p> Game : ONE-THIRD LIFE CHOICES</p>
            </header>

            <section class="block-body">

                <div class="row">
                   @Html.Partial("~/Views/Partials/Carousel.cshtml")
                </div>

                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapsePanel" aria-expanded="false" aria-controls="collapsePanel">
                    所有作品
                </a>
                <div class="collapse" id="collapsePanel">
                    <div class="well">
                        @{
                            foreach (var item in PicDisplay)
                            {
                                <div class="row">

                                    @foreach (var i in item.Value)
                                    {
                                        <div class="col-sm-4">
                                            <a class="recent-work" style="background-image:url(@i)">
                                                <span class="btn btn-o-white" data-toggle="modal" data-target="#CurrentPicture" data-imgsrcaddress=@i data-titleinfo="case">查看</span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </section>


            @Html.Partial("~/Views/Partials/ModalComponent.cshtml");

        </div>
 </div>

