@using TeamEWebSite.App_Code;
@{
    List<TeamShareInfo> artInfo = new List<TeamShareInfo>();

    TeamShareInfo artFir = new TeamShareInfo("assets/images/Product/1.jpg", "场景介绍", "游戏主体设计基于一个正六边形的房间（Main Room，以下简称MR）玩家经历引导剧情之后在MR的正中央地面A点处进入场景。MR中不相邻的边上各有一扇门，分别代表不同的主题（财富，权力，人性）连接了位于门后的三条支路（Route）。", "7 Sep, 2015");
    TeamShareInfo artSec = new TeamShareInfo("assets/images/Product/2.jpg", "Main Room（MR）设计", "MR是一座巨大的空旷房间，墙体主色调为白色，象征了对人生路上未知旅程的探索。三条支路（Route）分别是：财富、权力、人性。玩家在每一条支路中通过进入不同的门做出选择，不同的门通往各异的结局。", "7 Sep, 2015");
    TeamShareInfo artThi = new TeamShareInfo("assets/images/Product/3.jpg", "Route 1：Wealth（财富）", "财富线主要包含两个结局，即对物质财富的追求和对精神财富的追求。（其中精神财富分支又扩展出自然环境的财富和人文情感的财富。）玩家开始进入Route 1时，会有两位旁白鼓励其做出一种选择，在这条支路中旁白不会诱导玩家做出选择，而是对玩家的选择加以肯定。", "7 Sep, 2015");

    artInfo.Add(artFir);
    artInfo.Add(artSec);
    artInfo.Add(artThi);
    
}

<div class="content-block" id="blog">
    <div class="container">
        <header class="block-heading cleafix">
            <a href="#" class="btn btn-o btn-lg pull-right">查看更多</a>
            <h1>团队分享</h1>
            <p>Keep up with the latest happenings.</p>
        </header>

    @{
        <section class="block-body">
            <div class="row">

                @foreach (var item in artInfo)
                {
                    <div class="col-sm-4 blog-post" style="height:593px;">
                        <img src=@item.ImgSrc>
                        <a href="#"><h2>@item.ArticleTitle</h2></a>
                        <div class="date">@item.PublishDate</div>
                        <p>@item.ArticleContent</p>
                        <a id="blogHref" href="">查看</a>
                    </div>
                }
               
            </div>
        </section>
    }     
    </div>
</div>