<!-- 图片弹出层 -->
<div class="modal fade" id="CurrentPicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <img   class="img-thumbnail" />
            </div>
        </div>
    </div>
</div>