@{
    ViewBag.Title = "BackGround_Information";
    Layout = "~/Views/Shared/_BackGroundLayout.cshtml";

    string json = File.ReadAllText(HttpContext.Current.Server.MapPath("/assets/Information/Json/Information.txt")).Trim();
    Newtonsoft.Json.JsonTextReader jsonReader = new Newtonsoft.Json.JsonTextReader(new StringReader(json));
   
}

<meta http-equiv="Pragma" content="no-cache">
<link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-treeview.min.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/jsoneditor.min.css">

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="input-select-node" class="sr-only">查找:</label>
                <input class="form-control" id="input-select-node" placeholder="搜索内容" value="">
            </div>
            <div class="form-group">
                <h2>资料列表</h2>
                <div id="treeview-selectable" class=""></div>
            </div>
        </div>
        <div class="col-sm-6">
            <h2>资料概况</h2>
            <div id="selectable-output">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <a href="#">
                            <img alt="缩略图" src="../assets/images/LOGO.png" class="img-thumbnail" style="width:200px;height:200px;">
                        </a>
                    </div>
                    @*视频
                        <div class="col-xs-6 col-md-4">
                            <div class="media">
                                <div class="media-left">
                                   <video class="media-object" src="../assets/Video/movie.ogg" controls="controls"></video>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-xs-6 col-md-6">
                        <p>信息</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*JSON编辑器*@

    <div class="row">
        <div class="form-group text-right">
            <div id="jsoneditor" style="height:500px;width:100%"></div>
        </div>
    </div>
    <div class="row">

        <div class="form-group text-left">
        
                @using (Html.BeginForm("UpdateInformationTree", "BackGround", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-3">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div enctype="multipart/form-data">
                                <input id="file-0a" class="file" name="jsonfile" type="file" multiple data-min-file-count="1">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-3">
                        <button id="uploadJson" type="submit" class="templatemo-blue-button">上传</button>
                    </div>
                }
            </div>

            <div class="col-md-6">
                <div class="form-group text-right">
                    <button id="saveJson" type="button" class="templatemo-blue-button">保存</button>
                </div>
            </div>
        </div>
    </div>




    <!-- JS -->
    <script src="~/assets/js/jquery-2.1.3.min.js"></script>
    <script src="~/assets/js/bootstrap-treeview.min.js"></script>
    <script src="~/assets/js/jsoneditor.min.js"></script>
    <script src="~/assets/js/FileSaver.min.js"></script>

    <script type="text/javascript">
        //JSON编辑器
        var editor;
        $(function () {

            $.ajax({
                type: "GET",
                url: '/assets/Information/Json/Information.txt',
                cache: false,
                dataType: "json",
                success: function (data) {
                    initTree(data);
                    var jsonDiv = document.getElementById('jsoneditor');
                    initJsonEditor(jsonDiv, data);
                }
            });
        });

        //初始化树状结构
        function initTree(iJson) {
            //初始化选择
            var initSelectableTree = function () {
                return $('#treeview-selectable').treeview({
                    data: iJson,

                    //节点被选中事件触发
                    onNodeSelected: function (event, node) {
                        $('#selectable-output img').attr("src", node.imgSrc);
                        $('#selectable-output a').attr("href", node.href);
                        $('#selectable-output p').text(node.tags);
                    },
                    //节点取消选中事件触发
                    onNodeUnselected: function (event, node) {
                        $('#selectable-output img').attr("src", "");
                    }
                });
            };
            var $selectableTree = initSelectableTree();

            var findSelectableNodes = function () {
                return $selectableTree.treeview('search', [$('#input-select-node').val(), { ignoreCase: false, exactMatch: false }]);
            };
            var selectableNodes = findSelectableNodes();

            $('#chk-select-multi:checkbox').on('change', function () {
                console.log('multi-select change');
                $selectableTree = initSelectableTree();
                selectableNodes = findSelectableNodes();
            });


            $('#input-select-node').on('keyup', function (e) {
                selectableNodes = findSelectableNodes();
                $('.select-node').prop('disabled', !(selectableNodes.length >= 1));
            });
        }

        //初始化json编辑器
        function initJsonEditor(jsonDiv, json) {
            var options = {
                mode: 'tree',
                modes: ['code', 'form', 'text', 'tree', 'view'],
                error: function (err) {
                    alert(err.toString());
                }
            };

            editor = new JSONEditor(jsonDiv, options, json);
        }

        //存储修改json文件
        document.getElementById('saveJson').onclick = function () {
            var blob = new Blob([editor.getText()], { type: 'application/json;charset=utf-8' });
            saveAs(blob, 'Information.txt');
        }


    </script>
