@using TeamEMVCProject.Models
@using TeamEWebSite.App_Code;
@model TeamEMVCProject.Models.ArticleShare
@{
    var db = new DbHelper();
    //技术文章信息
    Array articleInfo = db.ArticleShareModule.ToArray();

    var tempCount = 0;
    Array.Reverse(articleInfo);

}

<div class="content-block" id="blog">
    <div class="container">
        <header class="block-heading cleafix">
            <a href="/Home/TeamShare" class="btn btn-o btn-lg pull-right">查看更多</a>
            <h1>团队分享</h1>
            <p>Keep up with the latest happenings.</p>
        </header>

        <section class="block-body">
            <div class="row">

                @foreach (var item in articleInfo.Cast<ArticleShare>().TakeWhile(item => ++tempCount <= 3))
                {
                    item.ArticleImgSrc = "../" + item.ArticleImgSrc;
                    var hrefSrc = "Home/Article?Article=" + item.id;

                    <div class="col-sm-4 blog-post" style="height:593px;">
                        <img src=@item.ArticleImgSrc alt="">
                        <a href=@hrefSrc><h2>@item.ArticleName</h2></a>
                        <div class="date">@item.ArticlePublishTime</div>
                        <p>@item.ArticleDescribe</p>
                        <a id="blogHref" href=@hrefSrc>查看</a>
                    </div>
                }

            </div>
        </section>
    </div>
</div>