

<div id="header" class="content-block">
    <section class="top clearfix">
        <div class="pull-left">
            <h1><a class="logo" href="index.html">TeamE</a></h1>      
        </div>
        <div class="pull-right">
            <a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
        </div>
    </section>

    <section class="center">

        <div class="slogan">
            Game : ONE-THIRD LIFE CHOICES
        </div>
        <div class="secondary-slogan">
            <img src="~/assets/images/LOGO.png" style="height:50px;width:50px;" />
            Powered by Unreal Engine 4
        </div>
    </section>
    <section class="bottom">
        <a id="scrollToContent" href="#">
            <img src="~/assets/images/arrow_down.png">
        </a>
    </section>
</div>