<div class="content-block" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">&copy; Copyright TeamE 2015</div>
            <div class="col-xs-6 text-right">Developed by <a href="#">Raymond</a></div>
        </div>
    </div>
</div>