

<div class="content-block parallax" id="services">
    <div class="container text-center">
        <header class="block-heading cleafix">
            <h1>游戏概述</h1>
            <p>Game OverView</p>
        </header>

        @*Info*@
        <section class="block-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-users"></i>
                        <h2>权力</h2>
                        <p>“成年人的生活中没有容易二字，掌握权力的过程有时并不光彩。”</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-money"></i>
                        <h2>财富</h2>
                        <p>“追求物质财富并没有错，同样放弃物质追求精神也没有错。”</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-child"></i>
                        <h2>人性</h2>
                        <p>“在危难面前，人性的光明与黑暗将暴露无遗。”</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-gears"></i>
                        <h2>科技</h2>
                        <p>"科技发展是更为先进的方式重新构建社会人际之间的关系。"</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div><!-- #services -->