@using TeamEMVCProject.Models
@model TeamEMVCProject.Models.ArticleShare
@{
    ViewBag.Title = "TeamShare";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Index"] = "0";

    var db = new DbHelper();
    //技术文章信息
    Array articleInfo = db.ArticleShareModule.ToArray();

    const int maxRowSize = 3;
    var temCouter = 1;
    var currentCounter = 1;
    var rowTempSrc = new List<TeamEMVCProject.Models.ArticleShare>();
    var picDisplay = new Dictionary<int, List<TeamEMVCProject.Models.ArticleShare>>();

    Array.Reverse(articleInfo);

    foreach (TeamEMVCProject.Models.ArticleShare item in articleInfo)
    {
        item.ArticleImgSrc = "../" + item.ArticleImgSrc;
    }
    
    foreach (TeamEMVCProject.Models.ArticleShare lp in articleInfo)
    {
        temCouter = temCouter % (maxRowSize + 1);
        if (temCouter == 0) { rowTempSrc = new List<TeamEMVCProject.Models.ArticleShare>(); temCouter++; }

        if (temCouter < maxRowSize)
        {
            rowTempSrc.Add(lp);
        }
        else if (temCouter == maxRowSize)
        {
            rowTempSrc.Add(lp);
            picDisplay.Add(currentCounter, rowTempSrc);
            currentCounter++;
        }
        temCouter++;
    }

    if (!picDisplay.ContainsKey(currentCounter)) 
    {picDisplay.Add(currentCounter, rowTempSrc);}
    
}

<div class="content-block" id="blog" style="padding:100px 0px;">
    <div class="container">
        <header class="block-heading cleafix">
            <h1>团队分享</h1>
            <p>Keep up with the latest happenings.</p>
        </header>

        <section class="block-body">
            @foreach (var item in picDisplay)
            {
                <div class="row">

                    @foreach (var i in item.Value)
                    {

                        var hrefTemp = "#" + i.ArticleName;
                        <div class="col-sm-4 blog-post" style="height: 693px;">
                            <img src=@i.ArticleImgSrc>
                            <a href="#">
                                <h2>@i.ArticleName</h2>
                        </a>
                        <a class="btn btn-primary" role="button" data-toggle="collapse" href=@hrefTemp aria-expanded="false" aria-controls=@i.ArticleName>
                            作品详情
                        </a>
                        <div class="collapse" id=@i.ArticleName>
                            <div class="well">
                                <div class="date">@i.ArticlePublishTime</div>
                                    <p>@i.ArticleDescribe</p>
                                    <a href="~/assets/Information/PDF/Storyboard&Process.pdf" target="_blank">附件</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            }
        </section>

    </div>
</div>
