<div id="drawer-right">
    <div class="cross text-right">
        <a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
    </div>
    <h2>导航栏</h2>
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="#wrapper"><i class="fa fa-home"></i>主页</a>
            </li>
            <li>
                <a href="#portfolio"><i class="fa fa-bookmark"></i> 近期作品</a>
            </li>
            <li>
                <a href="#services"><i class="fa fa-tasks"></i> 游戏概述</a>
            </li>
            <li>
                <a href="#blog"><i class="fa fa-wordpress"></i> 团队分享</a>
            </li>
            <li>
                <a href="#parallax"><i class="fa fa-heart"></i> 待定</a>
            </li>
            <li>
                <a href="#testimonials"><i class="fa fa-thumbs-up"></i> 团队成员</a>
            </li>
            <li>
                <a href="#contact"><i class="fa fa-phone-square"></i> 联系我们</a>
            </li>
        </ul>
    </nav>
    <div class="social">
        <h2>社交分享</h2>
        <ul>
            <li><a href=""><i class="fa fa-weixin fa-3x"></i></a></li>
            <li><a href=""><i class="fa fa-qq fa-3x"></i></a></li>
            <li><a href=""><i class="fa fa-weibo fa-3x"></i></a></li>
            <li><a href=""><i class="fa fa-github-alt fa-3x"></i></a></li>
        </ul>
    </div>
</div><!-- #drawer-right -->