

<div id="drawer-right">
    <div class="cross text-right">
        <a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
    </div>
    <div id="wpp_ui_chatpanel">
        <div id="wpp_ui_chatbox">
            <div id="wpp_ui_friendslist">
                <div id="wpp_ui_topmenu">
                    <span id="wpp_ui_topmenu_chat" class="chats"></span>
                    <span id="wpp_ui_topmenu_friends" class="friends"></span>
                </div>
                <div id="wpp_ui_userChatPanel" class="animate">
                    <div id="wpp_ui_chat-messages">
                        <label><span id="_spanDate">TodayTime</span></label>
                    </div>
                </div>
                <div id="wpp_ui_sendmessage">
                    <div id="wpp_ui_InpSndDiv">
                        <input id="wpp_ui_i_user_sendmsg" type="text" />
                        <button id="wpp_ui_btn_user_send">Send</button>
                    </div>
                    <div id="wpp_ui_ShareDiv" class="jiathis_style">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_weixin"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


